$orange: #bc6c25;
$black: #373737;

h3 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Averia Serif Libre";
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

button {
  align-self: flex-end;
  background-color: $black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 16px;
  cursor: pointer;
  opacity: 100%;
  transition: all 0.2s;
  &:disabled {
    opacity: 30%;
  }
}

p {
  text-align: center;
}

a {
  color: inherit;
}

.input-wrapper {
  position: relative;
  .error-msg {
    position: absolute;
    right: 0;
    left: 0;
    font-style: italic;
    font-size: 0.75rem;
    color: #9e2e44;
  }
  input {
    font-size: 14px;
    border: 1px solid $black;
    padding: 3px;
    border-radius: 4px;
    width: 75px;
    margin-left: 8px;
  
    &:focus-visible {
      outline: $orange auto 1px;
    }
    &.error {
      outline: #9e2e44 auto 1px;
    }
  }
}

.groupforms {
  display: flex;
  flex-direction: column;
}

.costume-form {
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 23%);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 850px;

  animation: fadeIn 0.2s;

  max-height: 600px;
  overflow: hidden;
  opacity: 100;

  transition: all 0.2s;

  form {
    margin: 1.5rem auto;
  }

  .ghost {
    position: absolute;
    width: 70px;
    bottom: 16px;
  }

  &:focus-within .ghost {
    animation: float 0.8s infinite;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0;
    padding: 0 3px;

    img {
      height: 12px;
      width: 12px;
      margin: 0;
    }
  }

  &.remove {
    max-height: 0px;
    opacity: 0%;
  }
}

@keyframes float {
  0% {
    bottom: 16px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 16px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

select {
  font-size: 14px;
  border: none;
  background: #ededed;
  border-radius: 6px 6px 0 0;
  padding: 4px;
  margin: 0 5px;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  min-width: 80px;

  &:focus-visible {
    outline: none;
    border-bottom: 2px solid $orange;
  }
}

.basics,
.advanced {
  display: flex;
  align-items: center;
  label:not(:first-child) {
    margin-left: 16px;
  }
}

.advancedToggle {
  margin: 16px 0;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    height: 19px;
    width: 19px;
    top: 0;
    opacity: 0;
    &:focus ~ span {
      border: 2px solid $orange;
      &::after {
        border: solid $orange;
        border-width: 0px 2px 2px 0px;
      }
    }
    &:checked ~ span::after {
      display: block;
    }
  }

  span {
    height: 14px;
    width: 14px;
    margin: 4px;
    border: 2px solid $black;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    pointer-events: none;
  }

  span::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 4px;
    height: 10px;
    width: 4px;
    border: solid $black;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  opacity: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  img {
    width: 14px;
    margin-left: 8px;
  }
  &:hover,
  &:focus {
    opacity: 100%;
  }
}

.button-wrapper {
  align-self: flex-end;
  button {
    margin-left: 1rem;
  }
  .reset {
    background-color: #9e2e44;
  }
}

@media only screen and (max-width: 485px) {
  .costume-form .ghost {
    display: none;
  }

  .basics,
  .advanced {
    flex-direction: column;
    label {
      margin: 8px 0 !important;
    }
  }
  .button-wrapper {
    align-self: center;
  }
}

// Loaded section styling

.loaded-wrapper {
  display: flex;
  flex-direction: column;
}

.retry {
  align-self: flex-end;
}
