<div class="footer-page-wrapper">
  <h2>terms of use</h2>
  <p><em>last revised: october 15th, 2021</em></p>
  <p>
    Welcome! We hope this website can help you find lots of fun costumes for you
    and your friends. By using our website (CostumeDatabase.com), you
    acknowledge that you have read, understand, and agree to these Terms of Use.
    If you don't agree, don't use this website. We may update this agreement at
    any time.
  </p>
  <p>
    Our ghost logo, loading icons, and search icon belong to us, you can't use
    them in whole or part with any product or service that isn't this website.
  </p>
  <p>
    Most images for costumes are used under the fair use provision of copyright
    law. Copyright still belongs to the original owners, and you cannot
    distribute, license, or otherwise exploit them.
  </p>
  <p>
    CostumeDatabase.com respects the intellectual property of others and follows
    the requirements set forth in the Digital Millennium Copyright Act (“DMCA”)
    and other applicable laws. If you are a copyright owner or agent thereof and
    believe that content posted infringes upon your copyright, please contact us
    on our <a href="feedback">feedback page</a>.
  </p>
  <p>
    By submitting ideas or suggestions to us, you acknowledge and agree that we
    can use them in for any purpose in any way without providing credit or
    compensation.
  </p>
</div>
