<h2>share a costume</h2>

<p>
  This project is powered by Github! All you need to share your own costume ideas is a Github account. We maintain a list of all possible costumes
  <a
    href="https://github.com/reaganhenke/costume-db-backend/blob/main/costumes.json"
    target="_blank">in a public json file</a>. Example format:
</p>

<pre class="code">
  {{ demo | json }}
</pre>

<p>You can find the repo and contribute on <a href="https://github.com/reaganhenke/costume-db-backend" target="_blank">Github</a>.</p>
