<div class="footer-page-wrapper">
  <h2>credits</h2>
  <p>
    This website was built by
    <a target="_blank" href="https://github.com/stephenwashington"
      >Stephen Washington</a
    >
    and <a target="_blank" href="https://reaganhenke.com/">Reagan Henke</a>. You
    can find more of Reagan's projects on her
    <a target="_blank" href="https://www.instagram.com/ifthencreate/"
      >Instagram</a
    >.
  </p>
  <p>
    The ghost icons were made by Reagan. The "not found" image is from
    <a target="_blank" href="https://undraw.co/">undraw.co</a>. Code for the
    website is available under the Apache-2.0 License on
    <a href="https://github.com/reaganhenke/costume-db" target="_blank"
      >Github</a
    >.
  </p>
  <p>
    Costume images belong to their original copyright holders and are displayed
    under the fair use provision of copyright law.
  </p>
</div>
