footer {
  background-color: #37373f;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem 4rem;
  font-size: 0.8rem;
  margin-top: 3rem;
}

a {
  font: inherit;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s;
  text-decoration: none;
  &.active {
    text-decoration: underline;
  }
  &:hover, &:focus {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 475px) {
  footer {
    flex-direction: column;
  }
}
