@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Open+Sans&display=swap');

html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
