.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-color: #f1f1f1;
}

img.header {
  width: 28rem;
  margin: 2rem auto 0 auto;
}

main {
  flex-grow: 1;
  width: 80%;
  margin: 2rem auto;
}

@media only screen and (max-width: 475px) {
  img.header {
    width: 90%;
  }
}
