<div class="footer-page-wrapper">
  <h2>privacy policy</h2>
  <p>This site uses <a target="_blank" href="https://analytics.google.com/analytics/web/">Google Analytics</a> and <a target="_blank" href="https://www.google.com/adsense">Google Adsense</a>.</p>

  <h3>Google Analytics</h3>
  <p>We use Google Analytics to collect information about the site so we can keep improving it!
    You can learn more about how information is collected and processed in <a target="_blank" href="https://www.google.com/policies/privacy/partners/">Google's Privacy & Terms</a>.</p>

  <h3>Google Adsense</h3>
  <p>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to this website or other websites.</p>
  <p>Google's use of advertising cookies enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet.</p>
  <p>Users may opt out of personalized advertising by visiting <a target="_blank" href="https://www.google.com/settings/ads">Google Ads Settings</a>.</p>

<!-- https://support.google.com/adsense/answer/1348695?hl=en -->
</div>
